<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> <svg
                    class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use href="/image/icon.svg"></use>
                </svg> <span class="fs-4">Blogger</span> </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="localhost:3000/home" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">View</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Create</a></li>
            </ul>
        </header>
    </div>
</body>
</html>