.container {
    color: black;
}

.main {
    padding-left: 100px;
}

.main-1 {
    padding-left: 150px;
}

.create {
    padding-left: 92px;
    padding-right: 92px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.form-container {
    padding-left: 140px;
    margin-right: 92px;
}

.btn-primary {
    margin-top: 20px;
}

.form-title {
    font-size: medium;
    margin: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 93%;
    height: 50px;
}